@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  /* Default behavior allows HeadlessUI to manage overflow correctly */
}

html.dark body {
  background-color: #111827;
  /* gray-900 */
  color: #f3f4f6;
  /* gray-100 */
}


@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s infinite;
}